@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
    color: var(--text-color);

    user-select: none;
    -webkit-user-drag: none;
}
:root {
    --bg-color: #f1f1f1;
    --text-color: rgb(0, 0, 0);
    --a-color: rgb(0, 0, 0);
    --discord-color: rgb(0, 0, 0);
}
.background-image {
    display: none;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
}

/* Header and Nav bar */
.header {
    background-color: var(--bg-color);
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0;
}
nav > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}
nav > ul > li {
    width: 20%;
    height: 100px;

    padding-left: 10px;
    padding-right: 10px;
}
nav > ul > li > a {
    text-decoration: none;
    font-size: 1.3em;

    border-radius: 16px;
    border-color: black;
    border-width: 1px;
    border-style: solid;

    height: 100%;
    width: 100%;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 2px 20px 3px #686868;
}
a {
    color: var(--a-color);
    display: flex;

    height: 100%;
}
h1 {
    padding-top: 35px;
    padding-bottom: 25px;

    text-align: center;
}
.header {
    padding-bottom: 30px;
}

/* Main */
main {
    background-color: var(--bg-color);
    margin: none;
    padding: none;

    padding-bottom: 30px;

    border-top: rgb(41, 41, 41) solid;
    border-bottom: rgb(41, 41, 41) solid;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    padding: 20px 15px 20px 15px;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
h2 > a {
    margin: 0;
    margin-left: 5px;
}
main > h1 {
    text-align: center;
}
.line {
    height: 1px;
    background-color: var(--text-color);
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
.discord > img {
    width: 100px;
    height: 100px;
}
.github > img {
    width: 170px;
    height: 100px;
}
video, img {
    width: 30%;
    display: block;
}
p {
    text-align: center;
    padding-right: 20px;
}
ul {
    display: block
}
li {
    font-size: 1.5em;
    padding-bottom: 15px;
    padding-top: 5px;
    font-family: "Roboto";
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

pre > * {
    font-family: 'Courier New', Courier, monospace;
}

/* Footer */
footer {
    background-color: var(--bg-color);
    height: 100px;
    width: 100%;
    margin: none;
    padding: none;

    display: flex;
    
    justify-content: space-around;
    align-items: center;
}

footer > a {
    text-align: center;
    text-decoration: none;

    font-size: 2rem;
}

pre {
    width: 45%;
    margin: auto;
    height: 500px;
}
.code {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

/* Sizes */
@media (min-width: 1080px) {
    /* Desktop */

    /* .block {
        display: flex;
    } */

    .background-image {
        width: 100vw;
        height: 100vh;
        position: sticky;
        display:flex;
        top: 0;
        margin: auto;
        margin-top: -100vh;
        margin-bottom: 0;
        background-image: url(./background.jpeg);
        background-repeat:no-repeat;
        background-size: cover;
        /* background-size: 20px; */
        background-color: #e0e0e0;
    
        z-index: -1;
    
        filter:blur(10px)
    }

    main {
        border-color: black;
        border-width: 1px;
        border-style: solid;
        padding-left: 30px;
        padding-right: 30px;
    
        width: 50%;
        margin: auto;
        height: 100%;
    
        box-shadow: 0px 3px 10px 5px #686868;
    }

    .project {
        display: block;
        width: 80%;

        /* border-color: var(--text-color);
        border-style: solid;
        border-width: 1px; */

        padding: 20px;

        margin-left: auto;
        margin-right: auto;

        margin-bottom: 30px;
        
        /* transition: all 0.5s; */
    }


    /* .project:hover {
        width: calc(47% + 20px); 
        border-width: 2px; 
        padding-bottom: 40px;
    } */

    nav > ul > li > a {
        font-size: 1.5rem;
    }
    nav > ul {
        list-style: none;
    }

    h2 {
        font-size: 2em;
        padding-bottom: 20px;
    }
    h2 > a {
        margin-left:10px
    }
    img {
        aspect-ratio: 1/1;
        width: 250px;
        height: 250px;
    }

}









/* Code blocks (PrismJS) */
/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=lua&plugins=line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #9ed0ff;
     background: none;
     text-shadow: 0 1px rgba(0, 0, 0, 0.3);
     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     font-size: 1em;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     /* margin: .5em 0; */
     overflow: auto;
     border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: #1f1f1f;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #6a9955;
 }
 
 .token.punctuation {
     color: #f8f8f2;
 }
 
 .token.namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #f92672;
 }
 
 .token.boolean,
 .token.number {
     color: #b5cea8;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: #ce9178;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #569cd6;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: #dcdcaa;
 }
 
 .token.keyword {
     color: #c586c0;
 }
 
 .token.regex,
 .token.important {
     color: #fd971f;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 pre[class*="language-"].line-numbers {
     position: relative;
     padding-left: 3.8em;
     counter-reset: linenumber;
 }
 
 pre[class*="language-"].line-numbers > code {
     position: relative;
     white-space: inherit;
 }
 
 .line-numbers .line-numbers-rows {
     position: absolute;
     pointer-events: none;
     top: 0;
     font-size: 100%;
     left: -3.8em;
     width: 3em; /* works for line-numbers below 1000 lines */
     letter-spacing: -1px;
     border-right: 1px solid #999;
 
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 
 }
 
     .line-numbers-rows > span {
         display: block;
         counter-increment: linenumber;
     }
 
         .line-numbers-rows > span:before {
             content: counter(linenumber);
             color: #999;
             display: block;
             padding-right: 0.8em;
             text-align: right;
         }
 
 